@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

@font-face {
  font-family: "HindFont";
  src: url("/fonts/HindSiliguriRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "HindFont", sans-serif;
}
